.bg-my {
  background: #faaf40;
}
header{
  height: 10vh;
}
header * {
  
  color: #fff;
}
.banner * {
  height: 90vh;
}

.link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 15pt;
}
.link:hover {
  background: #fff;
  color: #faaf40;
  text-decoration: none;
}
.title {
  margin-left: 10rem;
}
